{% extends "base.html" %}

{% block content %}

    <h1>
        TASKS
    </h1>
    <br>
    {% if task_list %}
        {% for task in task_list %}
          {% if task.is_done %}
          <div style="background-color: lightgreen; border-radius: 10px" >
          {% else %}
          <div>
          {% endif %}
            <p>
                <strong><a href="{% url 'core:task-detail' pk=task.id %}"><h3>{{ task.title }}</h3></a>
                    {% if task.is_done %}
                        <a style="float: right" class="btn btn-secondary" href="{% url 'core:task-status-change' pk=task.id %}">Undo</a>
                    {% else %}
                        <span class="text-danger"> Not done</span>
                        <a style="float: right" class="btn btn-success" href="{% url 'core:task-status-change' pk=task.id %}">Complete</a>
                    {% endif %}
                </strong>
            </p>
            <p>
                Created: {{ task.creation_date }}
                {% if task.deadline %}
                  <br>
                    <span style="color: orangered">Deadline: {{ task.deadline }}</span>
                {% endif %}
            </p>
            <p>
                <a href="{% url 'core:task-update' pk=task.id %}" class="badge badge-warning">Update</a>
                |
                <a href="{% url 'core:task-delete' pk=task.id %}" class="badge badge-danger">Delete</a>
            </p>
            <hr>
          </div>
        {% endfor %}

    {% else %}
        No tasks!
    {% endif %}

{% endblock %}
